<table>
    <thead>
        <tr class="odd">
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    <% for (var user in users) { %>
        <tr class="<%= user%2 ? 'odd' : 'even' %>">
            <td><%= users[user].name %></td>
            <td><%= users[user].email %></td>
        </tr>
    <% } %>
    </tbody>
</table>

<hr/>

Create new account
<form method="post" action="/users">
    <fieldset>
        <legend>Type in your information</legend>
        <p>
            <label for="name">Username:</label>
            <input type="text" name="name"/><br/>
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="text" name="email"/><br/>
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password"/><br/>
        </p>
        <input type="submit" value="Create"/>
    </fieldset>
</form>
