Log in here
<form method="post" action="/login">
    <fieldset>
        <legend>Type in your information</legend>
        <p>
            <label for="name">Username</label>
            <input type="text" name="name"/>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password"/>
        </p>
        <input type="submit" value="Log in"/>
    </fieldset>
</form>

or <a href="/users">create a new account</a><br/>
