<div class="comment">
    <div class="author">
        <%= comment.user %>
    </div>
    <div class="date">
        <%= comment.date %>
    </div>
    <div class="body">
        <%= comment.body %>
    </div>
</div>
