<form method="post" action="/">
    <fieldset>
        <legend>Write your blog post</legend>
        <p>
            <label for="title">Title</label>
            <input type="text" name="title"/>
        </p>
        <p>
            <textarea name="body"></textarea>
        </p>
        <input type="submit" value="post"/>
    </fieldset>
</form>
